.sudoku-wrapper {
    width: 460px;
    /*min-width: 300px;*/
    /*max-width: 600px;*/
    margin: 60px auto;
    font-size: 24px;
}

.sudoku-wrapper td,
.sudoku-wrapper th {
    vertical-align: middle;
    text-align: center;
}