.sudoku-wrapper {
    width: 500px;
    /*max-width: 600px;*/
    margin: 40px;
    font-size: 24px;
}

.sudoku-wrapper {
    float: left;
    display: inline-block;
    margin: 10px;
}

/*
.sudoku-wrapper td {
    transition: all 0.2s;
    text-align: center;
    margin: 1px;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
    color: #666;
    border: 1px solid pink;
}
*/

.sudoku-wrapper td {
    transition: all 0.2s;
    text-align: center;
    margin: 1px;
    color: #666;
}

.sudoku-wrapper td.original {
    font-weight: 600;
    color: #3E4651;
}

.sudoku-wrapper td.highlight {
    background-color: #fafafa;
}

.sudoku-wrapper td.active-related {
    background-color: #edecf0;
}

/*
    ========================================================
        tips
    ========================================================
*/
table.tips td,
.sudoku-wrapper td.empty {
    cursor: pointer;
}

table.tips td:hover,
.sudoku-wrapper td.empty:hover {
    background-color: #eee;
}

table.tips td:active,
.sudoku-wrapper td.empty.active {
    background-color: #ddd;
}

table.tips {
    width: 100px;
    float: left;
    margin: 60px;
}

table.tips td {
    vertical-align: middle;
    text-align: center;
    transition: all 0.3s;
}